---
import '../styles/global.css';

interface Props {
title: string;
description?: string;
}

const { title, description = "Soluciones digitales Narez" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
<head>
<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/logo.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
</head>
<body class="antialiased min-h-screen bg-slate-950 text-white selection:bg-blue-600 selection:text-white flex flex-col">
<slot />
</body>
</html>

